[Unit]
Description=Create persistent Nix root
DefaultDependencies=no
RequiresMountsFor=/var
Before=nix.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/install -d -o root -g root -m 0755 /var/lib/nix
RemainAfterExit=yes
